*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
 }
 
 
 body{
    background-color:hsl(0, 0%, 90%);
    transition: background-color 300ms;
    height: 100%;
   
 
 }
 
 
 .card{
     display:flex;
     justify-items: center;
     margin:auto
    
     
     
 }
 
 
 
 .content{
    color:white;
    font-family: Lexend Deca Font;
    font-size: 14px;
    padding: 20px;
 
   
 }
 
 @media screen and (max-width:900px) {
   .card{
     width:50%
   }
 }
 
 @media screen and (max-width:600px) {
   .card{
     width:100%
   }
 }
 
 
 
 #first-content{
   background-color:#e28525 ;
 }
 
 #second-content{
   background-color:#016972 ;
 }
 
 #third-content{
   background-color:#00403f ;
 }
 
 .gridlay{
   color: #757070;
   text-align: center;
   padding: 10px 12px;
   text-decoration: none;
   font-size: 17px;
 }